@charset "utf-8";
/* CSS Document */
body {
    background-color: #f7f7f7;
}

.c-bzt{
	background-color: #f7f7f7;
}

.t-gra3{
	color: #6e6e6e;
}

.c-gra3{
	background-color: #6e6e6e;
}

.img_t img{
	max-width:100%;
}

.uhh{
	height:2.5em;
}

.uhh2{
	height:2.5em;
}

.pic_in_head img{
	height:1.5em;
}

.bzt-pl:hover {
    background: #e6e6e6;
}

.bzt-pl:visited {
    background: none;
}

.lh {
    line-height: 1.6em;
}

.b-ib1 img {
    height: 4.2em;
    border: 0.15em #ffffff solid;
}

.pic-b img {
	min-width: 100%;
    max-width: 100%;
}

.b-blu4 {
    border-color: #699736;
}

.ubn {
    border: none;
}

.ubtb {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d8d8d8;
}

.uinn6 {
    padding: 0.75em;
    margin: 0;
}

.uinn7 {
    padding: 0.75em 1.5em;
    margin: 0;
}

.uinn8 {
    padding: 0.2em 0;
    margin: 0;
}

.uinn9 {
    padding: 0.4em 0;
    margin: 0;
}

.uinn10 {
    padding: 0.2em 0.6em;
    margin: 0;
}

.uinn11 {
    padding: 2em 1em 0 1em;
    margin: 0;
}

.uinn12 {
    padding: 0.4em 1em;
    margin: 0;
}

.uinn13 {
    padding: 0.75em 0;
}

.uinn15 {
    padding: 0.6em 1em;
    margin: 0;
}

.uinn16 {
    padding: 0.7em 0.5em;
    margin: 0;
}

.uinn17 {
    padding: 1em 0.5em;
    margin: 0;
}

.ubb2 {
    border-bottom: 1px dashed;
}

.ubb3 {
    border-bottom: 1px #ccc dashed;
}

.ubt2 {
    border-top: 1px #ccc dashed;
    margin-top: 0.5em;
}

.price {
    font-weight: bold;
    line-height: 1em;
}

#price {
    font-weight: bold;
}

.t-lh{
	line-height:1em;
}

.db {
    display: block;
}

.price-del {
    text-decoration: line-through;
}

.desc, .info {
    margin-top: 0.4em;
}

.t-bzt {
    color: #cc0000;
}

.pt {
    padding-top: 0.7em;
}

.pt1 {
    padding-top: 0.95em;
}

.pt2 {
    padding-top: 0.5em;
}

.pb {
    padding-bottom: 0.6em;
}

.pb2 {
    padding-bottom: 0.2em;
}

.pl {
    padding-left: 1em;
}

.mt {
    margin-top: 0.5em;
}

.mb {
    margin-bottom: 0.75em;
}

.mlr {
    margin: 0 0.6em;
}

.c-gre {
    /*background-color: #4eaad9;*/
	background-color:#699736;
}

.c-org2 {
    background-color: #f99530;
}

.t-org2 {
    color: #f99530;
}

.b-org2 {
    border-color: #da6f06;
}

.b-gra2 {
    border-color: #e3e3e3;
}

.c-gra2 {
	background: #e3e3e3;
}

.umw5 {
    min-width: 5em;
}

.umh9 {
    min-height: 27px;
}

.bzt-tag {
    background: url(images/selected2.png) left center no-repeat;
    padding-left: 1.4em;
    -webkit-background-size: 1.2em;
	background-size: 1.2em;
    margin-right: 1em;
    min-height: 1.2em;
}

.bought {
    background: url(images/user.png) left center no-repeat;
    padding-left: 1.8em;
    -webkit-background-size:auto 1.1em;
	background-size:auto 1.1em;
}

.timeout {
    background: url(images/clock.png) left center no-repeat;
    padding-left: 1.4em;
    background-size: 1.05em;
}

.mar-t {
    background: url(images/merch.png) left center no-repeat;
    padding-left: 1.4em;
	-webkit-background-size: 1em;
    background-size: 1em;
}

.pag-t {
    background: url(images/list1.png) left center no-repeat;
    padding-left: 1.4em;
	-webkit-background-size: 1em;
    background-size: 1em;
}

.not-t {
    background: url(images/notice.png) left center no-repeat;
    padding-left: 1.4em;
	-webkit-background-size: 1em;
    background-size: 1em;
}

.call {
    border-left: 2px solid #f6f6f6;
    background: url(images/phone.png) center center no-repeat;
    min-width: 2.5em;
    min-height: 2.5em;
	min-width: 3em;
    min-height: 3em;
	-webkit-background-size:50% auto;
	background-size:50% auto;
}

.locknewpho {
    background: url(images/arrow.png) right center no-repeat;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
}

.not-li {
}

.not-li ul {
    padding-left: 1.5em;
}

.not-li ul li {
    list-style-type: square;
    padding: 0.1em 0;
}

.uba-d {
    border: 1px dashed;
}

.ubt-d {
    border-top: 1px dashed;
}

.ubt-d {
    border-top: 1px dashed;
}

.ubb-d {
    border-bottom: 1px dashed;
}

.ubt-l {
    border-left: 1px dashed;
}

.ubt-r {
    border-right: 1px dashed;
}

.im-per {
    background: url(images/per.jpg) center no-repeat;
    min-height: 3em;
    max-height: 5.5em;
}

.uc-m1 {
    background: url(images/ticket.png) left center no-repeat;
    width: 3em;
    height: 3em;
	-webkit-background-size: 3em 3em;
    background-size: 3em 3em;
    padding-right: 0.2em;
}

.uc-m2 {
    background: url(images/favo.png) no-repeat;
    width: 3em;
    height: 3em;
	-webkit-background-size: 3em 3em;
    background-size: 3em 3em;
    padding-right: 0.2em;
}

.uc-m3 {
    background: url(images/tocart.png) center left no-repeat;
	-webkit-background-size: auto 1em;
    background-size: auto 1em;
    padding-left: 1.2em;
}

.uc-m4 {
    background: url(images/cart.png) center left no-repeat;
	-webkit-background-size: auto 1em;
    background-size: auto 1em;
    padding-left: 1.2em;
}

.uc-m5 {
    background: url(images/user2.png) center left no-repeat;
	-webkit-background-size: 1.125em;
    background-size: 1.125em;
    padding-left: 1.5em;
    min-height: 1.2em;
}

.uc-m6 {
    background: url(images/edit_pw.png) center left no-repeat;
	-webkit-background-size: 1.125em;
    background-size: 1.125em;
    padding-left: 1.5em;
    min-height: 1.2em;
}

.uc-m7 {
    background: url(images/mobile.png) center left no-repeat;
    -webkit-background-size: 1.25em;
	background-size: 1.25em;
    padding-left: 1.5em;
    min-height: 1.2em;
}

.uc-m8 {
    background: url(images/arrow.png) center right no-repeat;
    padding-right: 18px;
    min-height: 1em;
}

.ulim2 {
    max-width: 10em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.fwb {
    font-weight: 500;
}

.ulev-3 {
    font-size: 0.85em;
    line-height: 1em;
}

.bzt-tag_off {
    background: url(images/selected1.png) no-repeat;
}

.tuancontenttablecss {
    background-color: #E8E8E8;
    text-align: center;
    border-collapse: separate;
}

.tuancontenttablecss tr {
    background-color: #fff;
}

.tuancontenttablecss tr td {
}

.tuancontenttablecss .tuancontenttablecsstr {
    background-color: #F5F5F5;
    font-weight: bold;
}

.tuancontenttablecss .tuancontenttabletaocanfenge {
    background-color: #E53333;
    font-weight: bold;
}

.tuancontenttablecss .tuancontenttablecsstrhuizong {
    font-weight: bold;
    color: #333;
}

.tuancontenttablecss .tuancontenttablecsstrhuizong span {
    color: #F30;
}

#allcontentcont{
	display:none;
}

.ub-fhh{
	min-width:50%;
	max-width:50%;
}

.cate_liststyle{
	width:0.8em;
	height:0.8em;
	background:url(images/order_list.png) top left no-repeat;
	margin-right:0.2em;
}

.arrd{
	height:0.45em;
	width:0.45em;
	background:url(images/arrow4.png) top left no-repeat;
	position:absolute;;
	bottom:0.45em;
	right:0.45em;
}

.pin{
	width:0.9em;
	height:0.9em;
	background:url(images/pin.png) top left no-repeat;
	margin-right:0.2em;
}

.sort{
	width:0.8em;
	height:0.8em;
	background:url(images/sort.png) top left no-repeat;
	margin-right:0.2em;
}

.upoph{
	height:2.2em;
}

.c-pop{
	background:rgba(0,0,0,0.5);
}

.um-vp2 {
	margin: 0;
	padding:0;
	overflow:hidden;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	position: absolute;
	border: 0
}

.ub-f33{
	width:33%;
}

.ub-p13{
	padding:30%;
	-webkit-background-size:50% auto;
	background-size:50% auto;
}

.umar-r{
	margin-right:0.75em;
}


.head_pop{
	height:4.7em;
}

#xinxi img{
	max-width:100%;
}

.ico_his{
	background:url(images/ico_history.png) left center no-repeat;
	-webkit-background-size:auto 1em;
	background-size:auto 1em;
	padding-left:1.1em;
}

.btn_cleaehis{
	background:url(images/ico_rec.png) left center no-repeat;
	padding-left:1.2em;
}

.us2 {
	-webkit-box-shadow: 0px -2px 3px rgba(0, 0, 0, .4);
	box-shadow: 0px -2px 3px rgba(0, 0, 0, .4)
}

.needyuyue_1{
	position:absolute;
	top:-3px;
	left:0;
	background:url(images/needyuyue.png) top left no-repeat;
	min-width:1.75em;
	min-height:1.75em;
	max-width:2em;
	max-height:2em;
}

.isneworder_1{
	position:absolute;
	top:-3px;
	right:0;
	background:url(images/isneworder.png) top left no-repeat;
	min-width:1.75em;
	min-height:1.75em;
	max-width:2em;
	max-height:2em;
}

input[type=checkbox],input[type=radio] {
	-webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    margin: 0;
    cursor: pointer;
    vertical-align: bottom;
    background: #fff;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
input[type=checkbox]:active,input[type=radio]:active {
    border-color: #c6c6c6;
    background: #ebebeb;
}
input[type=checkbox]:hover {
    border-color: #c6c6c6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}
input[type=radio] {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    width: 1.2em;
    height:1.2em;
}
input[type=checkbox]:checked,
    input[type=radio]:checked {
    background: #fff;
}
input[type=radio]:checked::after {
    content: '';
    display: block;
    position: relative;
    top: 0.25em;
    left: 0.25em;
    width: 0.6em;
    height: 0.6em;
    background: #666;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
input[type=checkbox]:checked::after {
    content: url(images/checkmark.png);
    display: block;
    position: absolute;
    top:-0.1em;
    left:0.1em;
	width: 1.1em;
    height: 1.1em;
}

input[type=checkbox]:focus {
    outline: none;
    border-color:#4d90fe;
}

.menu-list{
	-webkit-background-size:1em 1em;
	background-size:1em 1em;
	padding-left:1.2em;
}

.umw7{
	min-width:7em;
}

.clientpay{
	background:url(images/ico_alipay2.png) left center no-repeat;
	-webkit-background-size:auto 1.8em;
	background-size:auto 1.8em;
	padding-left:2.5em;
}

.webpay{
	background:url(images/ico_alipay1.png) left center no-repeat;
	-webkit-background-size:auto 1.8em;
	background-size:auto 1.8em;
	padding-left:2.5em;
}

.yue{
	background:url(images/yue.png) left center no-repeat;
	-webkit-background-size:auto 1em;
	background-size:auto 1.1em;
	padding-left:1.7em;
}

.idc{
	background:url(images/idc.png) left center no-repeat;
	-webkit-background-size:auto 1em;
	background-size:auto 1.1em;
	padding-left:1.7em;
}

.jf{
	background:url(images/jf.png) left center no-repeat;
	-webkit-background-size:auto 1em;
	background-size:auto 1.1em;
	padding-left:1.7em;
}

.umar-t1
{
	 margin-top:0.2em;
}

.ok{
	background:url(images/ok.png) left center no-repeat;
	-webkit-background-size:auto 1em;
	background-size:auto 1.1em;
	padding-left:1.5em;
}